html, body {
    background-color: rgb(235, 120, 226);
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
}

.cd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 0.3s ease, opacity 0.8s ease;
    opacity: 1;
}

.cd:hover {
    transform: translate(-50%, -50%) scale(0.525);
}

.cd img {
    border-radius: 50px;
    display: block;
}

.fade-out {
    opacity: 0;
}